.titleImage {
    position: relative;
    text-align: left;
    opacity: 0.8;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'header header';
    background-color: skyblue;
    border-radius: 5px;
}

.titleCenter {
    position: absolute;
    font-family: "modena", "Lucida Handwriting", cursive;
    text-align: center;
    font-size: 8em;
    color: rgba(145, 7, 7);
    top: 40px;
    right: 100px;
}

.navGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.navGrid>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 6px;
    font-size: 24px;
    font-weight: bold;
}

.navGrid>div>button {
    font-size: 24px;
    font-weight: bold;
}

.attractionsImage {
    position: relative;
    text-align: left;
    opacity: 0.8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-size: 24px;
    font-weight: bold;
}

li a {
    display: block;
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 4px 50px;
    text-decoration: none;
}

li a:hover {
    background-color: crimson;
}

.footer>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
}

.footer>ul>li {
    float: left;
    padding: 4px 10px;
}

.footerButton {
    display: inline-block;
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 4px 50px;
    text-decoration: none;
    border-width: 0px;
}

.footerButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}